.block.alternate#bucketlist
  .container_16

    .grid_16
      %h1 Yeah, it's corny, but I got a bucket list...
      %br
      %p I've beens slowly crossing things off, but I've got a looong way to go. Here we go in no particular order:

    .grid_5
      %ui
        %li 2014 Brazil World Cup
        %li Sky diving
        %li Write a book
        %li Scuba diving
        %li RV Trip across the US
        %li Visit all 50 States (39)
        %li Build my own home from the ground up
        %li Attend a Yankees World Series game
        %li Hunt something large w/ bow and arrows
        %li Bungee jumping

    .grid_5
      %ui
        %li Travel to: Australia
        %li Travel to: Hawaii
        %li Travel to: Alaska
        %li Travel to: Italy
        %li Travel to: Germany
        %li Travel to: England
        %li Travel to: France
        %li Travel to: Tokyo
        %li Travel to: Shanghai
        %li Travel to: Fiji

    .grid_5
      %ui
        %li Swim w/ dolphins in the ocean
        %li African safari expedition
        %li See all 7 Natural Wonders of the World (1)
        %li ...
        %li ...
        %li ...
        %li ...
        %li ...
        %li ...
        %li ...