.block.alternate#bucketlist
  .container_16

    .grid_12
      .span10
      %h1 This is my Bucket List Section Mofo
      %p Bucket List
      .progress.progress-striped.active
        .bar{:style => "width: 50%;"}