.block#dislikes
  .container_16
  
    .grid_16
      %h1 Only a few things I truly dislike...
      %br
      %p Clearly, I like and find happiness in many more things than I dislike. I think this is a very underrated characteristic in a person.

    .grid_5
      %ui
        %li Fakeness
        %li Excuses
        %li Lying
        %li Politics
        %li Leeches

    .grid_5
      %ui
        %li International Tax Fraud
        %li Inefficiency
        %li The flaws of Corporate America
        %li The Red Sox
        %li Medicine

    .grid_5
      %ui
        %li Resumes
        %li Opening my mail
        %li Pollution
        %li The News
        %li Sitting in the last row on an airplane