.block#health
  .container_16

    .grid_16
      %h1 Health and Fitness

    .grid_3
      = image_tag "manning.jpg"

    .grid_3
      = image_tag "manning.jpg"

    .grid_8
      %p
        I am addicted to health and fitness for
        %strong very selfish reasons:
        %ul
          %p 1) I want to live 118 years old to see the turn of the next century
          %p 2) I'm convinced I need to train hard and be prepared for some worst case scenarios: 
          %ul
            %li Some sort of I Am Legend / zombie apocalypse
            %li I get drafted in the NFL
            %li I become some sort of Jason Bourne / James Bond super agent assassin
            %li I'm hanging off a cliff and need to be able to pull myself up and
          %br
          %p 3) I generally feel much alive when I am eating and exercising properly