.block#health
  .container_16
  
    .grid_12
      .span10
      %h1 This is my Health and Fitness Section Mofo
      %p Health and Fitness
      .progress.progress-striped.active
        .bar{:style => "width: 50%;"}