.block.alternate#iam
  .container_16

    .grid_8
      %h1 I am...
      %br
      %p
        I am the son of John and Cheryl Petersen and the third generation of John Bernard Petersens. I am  equal parts
        %strong SPORTS FAN
        and
        %strong SUPER NERD.
        I am honest, stubborn and competitive almost to a fault. I am very opinionated about most things, but you probably would never know it because I am the second most laid-back person on earth (behind my brother).

    .grid_6
      = image_tag "manning.jpg"