.block.alternate#likes
  .container_16

    .grid_12
      .span10
      %h1 This is my Likes Section Mofo
      %p I like, I like. Very nice!
      .progress.progress-striped.active
        .bar{:style => "width: 50%;"}