.block.alternate#likes
  .container_16

    .grid_16
      %h1 Lots of things I like...
      %br
      %p In putting this list together, I realized that there are quite a few things that I like and only a few things that I don't. Most people I'm quite sure don't actually give a shit but if you're reading this far, keep going! You're almost done...

    .grid_4
      %ui
        %li Summer
        %li The Yankees
        %li The Fifth Element
        %li Family Guy
        %li The Beach
        %li Skydiving
        %li Learning
        %li Frank Sinatra
        %li Technology

    .grid_4
      %ui
        %li Inventions
        %li Gavin (my newphew)
        %li Things grown in my father's garden
        %li Harry Potter
        %li Winning
        %li Working with great people
        %li Helping others
        %li Apple products
        %li Mint Chocolate Chip Ice Cream

    .grid_4
      %ui
        %li Avocados
        %li New York City
        %li Exploring
        %li Experimenting
        %li Sports Center on the West Coast
        %li Blackjack
        %li Saunas
        %li Hammocks
        %li Startup T-shirts

    .grid_4
      %ui
        %li Science
        %li Nature
        %li Steak Dinners
        %li ...
        %li ...
        %li ...
        %li ...
        %li ...
        %li ...
      %br