.block#personalities
  .container_16

    .grid_16
      %h1 Sports vs Nerd
      %br
      %p
        I grew up in a constant battle between my two personalities. Not much has changed over time...

    .grid_16
      = image_tag 'sports_nerd.png'