.block#personalities
  .container_16

    .grid_16
      %h1 Sports vs Nerd
      %br
      %p
        I grew up in a constant battle between my two personalities. Not much has changed over time...

    .grid_3
      %p Early Sports Life
      %ul
        %li Soccer
        %li Basketball
        %li Baseball
        %li Tae-kwan-do
        %li Track
        %li Volleyball
        %li Surfing
        %li Snowboarding

    .grid_5
      %p Early Nerd Life
      %ul
        %li Video games
        %li Chess
        %li Bowling
        %li Dungeons and Dragons
        %li Playing piano
        %li The Internet

    .grid_3
      %p Current Sports Life
      %ul
        %li ESPN
        %li P90X
        %li Kickball
        %li Yoga
        %li Not enough Golf
        %li Not enough Surfing
        %li Not enough Snowboarding

    .grid_3
      %p Current Nerd Life
      %ul
        %li Startups
        %li Tech events
        %li Quora
        %li Blogging
        %li Not enough Programming
        %li Barely any Video Games