.block.alternate#thirty
  .container_16

    .grid_16
      %h1 Reflecting on 30 years on this planet
      %br
      
      .grid_8
        %p When I turned 30, I wrote a series of posts about the things that are most important to me. These four things are at the heart of everything that I am and everything that I do. They are mostly self-explanatory, but as I've already written some detailed posts about them, I won't go into it here.
        %p Put in a link here to Article 1
        %p Put in a link here to Article 2
        %p Put in a link here to Article 3
        %p Put in a link here to Article 4
        %p Put in a link here to Article 5

      .grid_3
        = image_tag "manning.jpg"

      .grid_3
        = image_tag "manning.jpg"