.block.alternate#thirty
  .container_16

    .grid_12
      .span10
      %h1 This is my Reflecting on 30 Section Mofo
      %p I'm old as dirt
      .progress.progress-striped.active
        .bar{:style => "width: 50%;"}