#about
  %h1 Everything you never wanted to know about me
  .grid_16
  .span4
    %br
    %br
    %table.table.table-striped
      %tr  
        %td Name
        %td John B. Petersen III
      %tr
        %td Height
        %td 5' 11.5"
      %tr
        %td Weight
        %td 181-186 lbs
      %tr
        %td Age
        %td 30 going on 17ish
      %tr
        %td Bats / Throws
        %td Right / Right
      %tr
        %td Hometown
        %td Jersey Shore
      %tr
        %td Reads at
        %td 8th Grade Level
      %tr
        %td Preferred Footwear
        %td Rainbow Sandals
      %tr
        %td Intoxicant of Choice
        %td Woodford Reserve
      %tr
        %td Golf Handicap
        %td +30 (on a good day)
      %tr
        %td Favorite Food
        %td Avocado
  .span3
    = image_tag 'me.png'
  .span3
    %h3 Vital Stats
    %p Programmer
    .progress.progress-danger.progress-striped.active
      .bar{:style => "width: 20%;"}
    %p Designer
    .progress.progress-warning.progress-striped.active
      .bar{:style => "width: 30%;"}
    %p Biz Dev
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: 85%;"}
    %p Sales
    .progress.progress-striped.active
      .bar{:style => "width: 72%;"}
    %p Marketing
    .progress.progress-striped.active
      .bar{:style => "width: 60%;"}
    %p Life Hacker
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: 92%;"}
    %p Moves on the Dance Floor
    .progress.progress-danger.progress-striped.active
      .bar{:style => "width: 13%;"}
    %p Beer Pong Skills
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: 98%;"}
    %p Learner of New Things
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: 94%;"}
    %p Explorer
    .progress.progress-striped.active
      .bar{:style => "width: 54%;"}
    %p Survival Skills
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: 89%;"}