.public.awesome_internet
  .container_16

    .grid_16
      %h2 This is where I'm going to collect the coolest things on the interet...
      %br
      %p ...but for now until I get more time to work on it, just play with this...
      %br
      %br
      %p Enjoy -- BeatBox