#home
  %h1 MY Sweet Ass Website Home Page!
  .grid_7
    %br
    %br
    %br
    %br
    %table.table.table-striped
      %tr  
        %td Name
        %td John B. Petersen III
      %tr
        %td Height
        %td 5' 11.5"
      %tr
        %td Weight
        %td 181-186 lbs
      %tr
        %td Age
        %td 30 going on 17
      %tr
        %td Hometown
        %td Jersey Shore
      %tr
        %td Favorite Food
        %td Avocado
      %tr
        %td Favorite Food
        %td Avocado
  = image_tag 'me.png'