.public.index
  %body.home
  .container_16
    .grid_16
    %h1 MY Sweet Ass Website Home Page!
    %br
    .row
      .span5.offset1
        .well
          Hello my friend. I am John B. Petersen III. I am the least technically talented member of the NYC Dev Shop and that makes me very happy.
          %br
          %br
          That said, I have taught myself to hack stuff together over the years, and this website is proof of that. I wrote every line of code myself so it's not pretty, but it's always a work in progress -- like me!