.public.index
  %body.home
  .container_16
    .grid_16
    %h1 Welcome to my virtual playground
    %br
    .row
      .span5.offset1
        .well
          Hello friend. I am John B. Petersen III. My programming skills are weak and puny. I am building this site in my free time to make them strong and magnificent.
          %br
          %br I wrote every line of code myself so it's not pretty (actually some of it is really ugly), but it's always a work in progress -- like me -- so be nice :)
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    .row
      .span4.offset7
        %h2 Need to chat?
        .well
          %p Here's my response time...
          %p Immediate = @johnbpetersen
          %p 24 Hours = john@nycdevshop.com
          %p A week or so = linkedin.com/jbp3
          %p Maybe never = 732-674-6694