.public.internet_me
  .container_16
  
    .grid_16
      %h2 I will be doing some cool stuff with this page in the future...
      %br
      %p ...but for now just check me out on a couple of cool sites:
      %br
      %br
      %p Vizify
      = image_tag "manning.jpg"
      %p Rebel Mouse
      = image_tag "manning.jpg"